/* Add a black background color to the top navigation */
.nav {
    overflow: hidden;
    img {
        margin-left: 7vw;
        width: 150px;
    }
    &__links {
        display: none;
        .nav__links-list {
            list-style-type: none;
            padding:1rem;
            margin-left: 7vw;
            .nav__link {
                display: inline-block;
                color: $text-light;
                text-decoration: none;
                margin-bottom: 0.5rem;
            }
            .nav__link--active {
                color: $light;
            }
        }
    }
    &__icon {
        position: absolute;
        right: 0;
        top: 0;
        float: right;
        display: block;
        color: $light;
        padding: 1.5rem;
        margin-right: 7vw;
    }
    &__icon:hover &__icon:focus {
        color: $primary;
    }
}

.responsive {
    .nav__links {
        position: relative;
        float: none;
        display: block;
        text-align: left;
    }
}
  
@media screen and (min-width: 992px) {
    .nav {
        a.nav__icon {
            display: none;
        }
        &__links {
            &-list {
                display: flex;
            }
        }
    }
}